
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('IMG_3087.jpg');
    background-size:  cover;
    //background-repeat: no-repeat;
}

/* Style the top navigation bar */
.menu {
    width: 100%;
    position: fixed;
    overflow: hidden;
    // background-color: #FFFACD;
   
}

    /* Style the topnav links */
    .menu a {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        width: auto;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .menu a:hover {
            background-color: #ADD8E6;
            color: black;
        }

.h1 {
    //color: darkslateblue;
    font: bolder;
     text-shadow: 2px 2px 5px white;
    // color: black;
    -webkit-text-fill-color: darkslateblue; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
}
.h2 {
    color: gray;
    -webkit-text-stroke-width: 0.2px;
   // -webkit-text-stroke-color: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.h3 {
    color: white;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
.h4 {
    color: #2F4F4F;
    //-webkit-text-stroke-width: 0.2px;
    //-webkit-text-stroke-color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.h5 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: #2F4F4F;
    background-image: url('IMG_3087.jpg')
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

